.tableContainer{
    border-collapse: collapse;
    background-color: #ffffff;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 12px;
}
.tbody .roll, .roll{
    font-family: "Poppins";
    padding: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #292d32;
    text-align: left;
    letter-spacing: -0.14px;
    border-bottom: 1px solid #eeeeee;
}
.roll{
    color: #b5b7c0;
}
.active span{
    background-color: rgba(22, 192, 152, 0.38);
    padding: 4px 16px;
    border: 1px solid #00b087;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.14px;
    color: #008767;
}
.inActive span{
    background-color: #ffc5c5;
    padding: 4px 12px;
    border: 1px solid #df0404;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.14px;
    color: rgba(223, 4, 4, 1);
}

/* Responsiveness for Mobile and tablet */

@media (min-width: 700px) and (max-width: 1200px) {
    .tableContainer{
        flex-shrink: 0;
        margin-left: 122px;
    }
}

@media (max-width: 700px) {
    .tableContainer{
        overflow-x: scroll;
        margin-left: 24px;
    }
}
