.headerContainer{
    display: flex;
    justify-content: space-between;
}
.hello{
    display: flex;
    align-items: center;
}
.hello img{
    height: 20px;
}
.hello h1{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

/* Responsiveness for tablet and mobile */
@media (min-width: 700px) and (max-width: 1200px) {
    .headerContainer{
        margin-left: 150px;
        gap: 370px;
    }
    
}

@media (max-width: 700px) {
    .headerContainer{
        flex-direction: column;
        gap: 20px;
        width: 240px;
        margin-left: 24px;
    }
}