.formContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formContainer p{
    font-family: "Commissioner";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(26, 7, 16, 0.4);
}
.formContent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formField{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(221, 221, 221,1);
}
.formField label{
    font-family: "Commissioner";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(26, 7, 16, 0.65);
}

.formField input{
    border: none;
    background-color: #ffffff;
    outline: none;
}
.formField input::placeholder{
    font-family: "Commissioner";
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(26, 7, 16, 0.85);
    letter-spacing: 1px;
}

.eyeIcon{
    width: 20px;
    margin-left: 320px;
    margin-top: -37px;
}
.error, .firebaseError{
    font-family: "Commissioner";
    margin-top: -15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: red;
}
.registrationBtn{
    margin-top: 10px;
}
.checkboxField{
    display: flex;
    gap: 12px;
}
.checkboxField input[type="checkbox"]{
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgba(239, 73, 143, 0.12);
}
.checkboxField input[type="checkbox"]:checked{
    border: 1px solid rgba(89, 50, 234,1);
    background-color: rgba(89, 50, 234,1);
}
.checkboxField label{
    font-family: "Commissioner";
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(26, 7, 16, 0.85);
}
.formContent p{
    font-family: "Commissioner";
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}
.formContent span{
    text-decoration: underline;
    text-decoration-style: solid;
    color: #8fc2ff;
}
.btn{
    font-family: "Commissioner";
    background-color: #5932ea;
    padding: 12px 36px;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    left: 0.15px;
    color: #fff;
    margin-top: 30px;
}


/* Responsiveness for tablet and mobile */


@media (min-width: 700px) and (max-width: 1200px) {
    .formContainer p{
        font-size: 20px;
    }
    .formContent{
        gap: 24px;
    }
    .formField label{
        font-size: 16px;
    }
    .formField input::placeholder{
        font-size: 20px;
    }
    .eyeIcon{
        right: 220px;
        width: 25px;
        top: 485px;
    }
    .checkboxField input[type="checkbox"]{
        width: 18px;
        height: 18px;
    }
    .checkboxField label{
        font-size: 18px;
    }
    .formContent p{
        font-size: 13px;
    }
    .error, .firebaseError{
        font-size: 18px;
    }
}